extends layout



block page
  // Page Heading/Breadcrumbs
  .row
    .col-lg-12
      h1.page-header
        | About 
        small Subheading
      ol.breadcrumb
        li
          a(href='index.html') Home 
        li.active About
  // /.row
  // Intro Content
  .row
    .col-md-6
      img.img-responsive(src='http://placehold.it/750x450', alt='')
    .col-md-6
      h2 About Nolphins
      p
        | The Nolphin, or "Nebcorp Oscilating Dolphin", is a highly automated and modular hovercraft core.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
