extends layout



block page
  // Page Heading/Breadcrumbs
  .row
    .col-lg-12
      h1.page-header
        | Generations of Nolphins 
      ol.breadcrumb
        li.active Nolphin Generations

  each val in generations
    .row
      .col-md-7
        a(href='portfolio-item.html')
          img.img-responsive.img-hover(src='http://placehold.it/700x300', alt='')
      .col-md-5
        h3= "Nolphin v" + val.gen
        h4= val.info.name_full
        p
          =val.info.description
        a.btn.btn-primary(href='/generations/'+val.gen) View Models
    // /.row
    hr

