extends layout



block page
  // Page Heading/Breadcrumbs
  .row
    .col-lg-12
      h1.page-header
        = "Nolphin v" + generation + " "
        small= name
        br
        small= name_full
      ol.breadcrumb
        li
          a(href='/generations') Generations 
        li.active= "Nolphin v" + generation

  .row
    .col-lg-12
      = description

  br



  - var column = 0
  - var rows = []
  - var row_count = 0
  each model,name in models
    if !column
      - rows[row_count] = []
    - rows[row_count][column] = model
    - rows[row_count][column]['version'] = name

    if !column
      - column = 1
    else
      - column = 0
      - row_count = row_count + 1


  each row in rows
    .row
      for col in [0,1]
        if row[col]
          .col-md-6.img-portfolio
            a(href='/generations/'+generation+'/'+row[col]['version'])
              img.img-responsive.img-hover(src='http://placehold.it/700x400', alt='')
            h3
              a(href='/generations/'+generation+'/'+row[col]['version'])
                = row[col]['version']
            p= row[col]['description']

