extends layout



block page
  // Page Heading/Breadcrumbs
  .row
    .col-lg-12
      h1.page-header
        | About Nolphins 



  // /.row
  // Intro Content
  .row
    .col-md-6
      img.img-responsive(src='http://placehold.it/750x450', alt='')
    .col-md-6
      p
        | The Nolphin, or "Nebcorp Oscilating Dolphin", is a highly automated and modular hovercraft core.
      p
        | Originally created by Nebual in 2008, the Nolphin is an increasingly usable alternative to hoverballs.



  br
  br
  .row
    .col-lg-12
      h1.page-header
        | The Physics 
        br
        small The leadup

  .row
    .col-md-6
      img.img-responsive(src='http://placehold.it/750x450', alt='')
    .col-md-6
      p Luaons are a type of large, neutral bosons.
      p When a luaon decays, it produces a single matter-antimater pair of fermions. There are many fermion pairs that may be produced, including a nolphon-antinolphon pair.

  .row
    .col-md-6
      img.img-responsive(src='/images/particles/nolphon-interaction.png', alt='')
    .col-md-6
      p Nolphons are negatively charged particles. Antinolphons, their positively-charged counterpart, are also commonly known as hoverons (due to initial misclassification).
      p Under ordinary conditions, a nolphon-antinolphon pair annihilation will result in the release of photons. However, under very high-energy conditions, nolphon-antinolphon pair annihilation can result in a complicated chain of events that happen in a single tick, creating a nolpherino-antinolpherino pair (sometimes known as a nolpherino-hoverino pair).



  .row
    .col-lg-12
      h1.page-header
        small Nolpherinos
  .row
    .col-md-6
      img.img-responsive(src='/images/particles/nolpherino-1.gif', alt='')
    .col-md-6
      p text

  .row
    .col-md-6
      img.img-responsive(src='/images/particles/bee-1.gif', alt='OH GOD THE BEES')
    .col-md-6
      p A modern-day Nolphin engine contains a micro black hole, which is saturated with what are generally known as "bees". Contained in such an environment, bees vibrate at a frequently that asymptotically approaches 60Hz (conventionally truncated to 60.0000001Hz).
      p It is a widely accepted but unproven theory that large numbers of nolpherinos and antinolpherinos form the entity known as a bee. This theory is supported by the force-carrying-boson nature of nolpherinos and existing observational findings, but as no method yet exists for observing units of time smaller than a tick, there is no direct proof. Scientists debate if sub-tick measurements are even theoretically possible, some saying "the discrete nature of the unit of time we call a tick is a fixed mechanic of the universe".
